<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

{% include head.html %}

<body>

    {% include topnav.html %}

    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
    {% include js_files.html %}
    <script>
    $(document).ready(function(){
        if ($("#accordion").length) {
            var sidebar = document.getElementById("accordion").parentElement;
            console.log("sidebar", sidebar);
            window.onload = function() {
              var offsets = sidebar.getBoundingClientRect();
              var top = offsets.top;
              sidebar.style.top = top + "px";
              sidebar.style.position = "-webkit-sticky";
              console.log("hello", top, sidebar);
            }
        }
    })
    </script>
</body>

</html>
