<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">   

{% include head.html %}

<body>

    {% include topnav.html %}

    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
    {% include js_files.html %}
</body>

</html>
